* {
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

h1 {
    background-color: #8e000044;
    padding: 20px;
    font-size: 2.2rem;
}

.game-board {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
}

.game-board .x {
    background-color: #8e000044;
    display: flex;
    flex-grow: 1;
    border: 1px solid black;
}

.y {
    flex-grow: 1;
    border: 1px solid black;
    width: 132px;
    height: 132px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 40px;
}

.message {
    font-size: 1.5rem;
    margin: 80px;
}

.cache {
    background-color: #4440;
    position: absolute;
    width: 400px;
    height: 400px;
}

.inactive {
    display: none;
}

.caption {
    position: fixed;
    left: 0;
    top: 200px;
}

.start-btn {
    padding: 5px 20px;
    background-color: #8e000044;
    border-radius: 10px;
    border: 1px solid black;
    margin: 35px;
}

.start-btn:hover {
    background-color: #8e000084
}

.ai-btn {
    color: #8e0000;
}