* {
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5rem;
}

.game-board {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
}

.game-board .x {
    display: flex;
    flex-grow: 1;
    border: 1px solid blue;
}

.y {
    flex-grow: 1;
    border: 1px solid blue;
}

.message {
    font-size: 1.5rem;
    margin: 80px;
}

.cache {
    background-color: #4440;
    position: absolute;
    width: 400px;
    height: 400px;
}

.inactive {
    display: none;
}